html
    head
        title Simple template
        link(href="/css/bootstrap.min.css" rel="stylesheet")
        link(href="/css/bootstrap-social.css" rel="stylesheet")
        link(href="/css/signin.css" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet")
        script(src="https://use.fontawesome.com/4bb379bbe3.js")
    body(class="text-center")
        form(class="form-signin")
            img(class="mb-4" src="/css/logo.svg" alt="" width="72" height="72")
            h1(class="h3 mb-3 font-weight-normal") Authentication google         
            a(href="/auth/google")
                div(class="btn btn-block btn-social btn-google")
                    span(class="fa fa-google")
                    p(class="sign_in") Sign in with Google
            p(class="mt-5 mb-3 text-muted") &copy; 2017-2018
                




               

















                         
    


  
    
      
    
     
      
          
